
@{
    ViewData["Title"] = "item";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/itemStyle.css">
    <link rel="stylesheet" href="/path/to/fontawesome-free-5.15.1-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-lU1BpYaaVdL/YNtEIk8C1Q5s9VbU8e+I8DHun6LZvSWCvvnE/AK3f9t5KDIyS2J" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-c77/bMrDLViUjVa2l7JkrkPd1YVN2oS3TEmOH5BrFi1HZ6fkRUP6D0eT4+7lgL2Pd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy/Z1Qq21xz9Kx2xgCIhP8qX8e9FqEUKjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-c77/bMrDLViUjVa2l7JkrkPd1YVN2oS3TEmOH5BrFi1HZ6fkRUP6D0eT4+7lgL2Pd" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="card">
            <div class="card__title">
                <div class="icon">
                </div>
                <h3>Best products</h3>
            </div>
            <div class="card__body">
                <div class="half">
                    <div class="featured_text">
                        <h1>Nurton</h1>
                        <p class="prix">$210.00</p>
                    </div>
                    <div class="image">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/613A7vcgJ4L._SL1500_.jpg" alt="" >
                    </div>
                </div>
                <div class="half">
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
                    </div>
                    <span class="stock"><i class="fa fa-pen"></i> In stock</span>
                    
                </div>
            </div>
            <div class="card__footer">
                <div class="recommend">
                    <p>Recommended by</p>
                    <h3>Andrew Palmer</h3>
                </div>
                <div class="action">
                    <button type="button">Add to cart</button>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.7.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>