html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    margin: 0 0 60px 0;
}


.nav-link {
    margin-right: 30px;
    transform: scale(1.2);
}

.heart-icon:hover,
.heart-icon.clicked {
    color: #B80000 !important; /* Pink color for heart */
    transform: scale(1.5);
}


.person-icon:hover,
.person-icon.clicked {
    color: #05012c !important; /* Blue color for person */
    transform: scale(1.5);
}

.cart-icon:hover,
.cart-icon.clicked {
    color: #4F709C !important; /* Blue color for cart  */
    transform: scale(1.5);
}


.icon-click {
    cursor: pointer;
}

/**language */
.checkbox-wrapper-35 .switch {
    display: none;
}

    .checkbox-wrapper-35 .switch + label {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #78768d;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 15px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 20px;
    }

        .checkbox-wrapper-35 .switch + label::before,
        .checkbox-wrapper-35 .switch + label::after {
            content: '';
            display: block;
        }

        .checkbox-wrapper-35 .switch + label::before {
            background-color: #05012c;
            border-radius: 500px;
            height: 15px;
            margin-right: 8px;
            -webkit-transition: background-color 0.125s ease-out;
            transition: background-color 0.125s ease-out;
            width: 25px;
        }

        .checkbox-wrapper-35 .switch + label::after {
            background-color: #fff;
            border-radius: 13px;
            box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
            height: 13px;
            left: 1px;
            position: absolute;
            top: 1px;
            -webkit-transition: -webkit-transform 0.125s ease-out;
            transition: -webkit-transform 0.125s ease-out;
            transition: transform 0.125s ease-out;
            transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
            width: 13px;
        }

        .checkbox-wrapper-35 .switch + label .switch-x-text {
            display: block;
            margin-right: .3em;
        }

        .checkbox-wrapper-35 .switch + label .switch-x-toggletext {
            display: block;
            font-weight: bold;
            height: 15px;
            overflow: hidden;
            position: relative;
            width: 50px;
        }

        .checkbox-wrapper-35 .switch + label .switch-x-unchecked,
        .checkbox-wrapper-35 .switch + label .switch-x-checked {
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
            transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
            transition: transform 0.125s ease-out, opacity 0.125s ease-out;
            transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
        }

        .checkbox-wrapper-35 .switch + label .switch-x-unchecked {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }

        .checkbox-wrapper-35 .switch + label .switch-x-checked {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        .checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
            position: absolute;
            visibility: hidden;
        }

    .checkbox-wrapper-35 .switch:checked + label::before {
        background-color: #E5D283;
    }

    .checkbox-wrapper-35 .switch:checked + label::after {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    .checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
/*Home page: */
.welcome {
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-top: 30px;
    line-height: 1.2; /* Adjust the line height as needed */
}

.subWelcome {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#sec1 {
    /* Add your background pattern here */
    background-color: #F0F0F0;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px 3px;
    padding: 20px;
    margin-top: -20px;
    height: 480px;
}

.card {
    width: 240px;
    height: 320px;
    background: rgba(211, 211, 211, 0.199);
    position: absolute;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.sec1c1 {
    background-image: url('../Images/jeep1.jpg');
    background-size: cover;
}

.sec1c2 {
    background-image: url('../Images/moto.jpg');
    background-size: cover;
}

.sec1c3 {
    background-image: url('../Images/bmw2.jpg');
    background-size: cover;
}

.sec1c4 {
    background-image: url('../Images/jeep2.jpg');
    background-size: cover;
}


.main:hover #c1 {
    transform: translateX(-100px) rotate(-40deg);
}

.main:hover #c2 {
    transform: translateX(-50px) rotate(-30deg);
}

.main:hover #c3 {
    transform: translateX(0) rotate(-20deg);
}

.main:hover #c4 {
    transform: translateX(50px) rotate(-10deg);
}

#c1:hover {
    transform: translateX(-150px) rotate(0deg) !important;
}

#c2:hover {
    transform: translateX(-100px) rotate(0deg) !important;
}

#c3:hover {
    transform: translateX(-50px) rotate(0deg) !important;
}

#c4:hover {
    transform: translateX(50px) rotate(0deg) !important;
}

.main {
    display: grid;
    height: 50vmax;
    place-items: center;
}

.category_intro {
    font-family: 'Poppins', sans-serif;
    color: #F0F0F0;
    text-align: center;
}

    .category_intro h2 {
        font-size: 3em;
        margin-bottom: 10px;
    }

    .category_intro p {
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 15px;
    }

.sec2c4, .sec2c3, .sec2c2, .sec2c1 {
    background-image: url('../Images/electronics.jpg');
    background-size: cover;
}

.sec3c4, .sec3c2, .sec3c1 {
    background-image: url('../Images/clothe4.jpg');
    background-size: cover;
}

.sec3c3 {
    background-image: url('../Images/clothes.jpg');
    background-size: cover;
}

.sec3c2 {
    background-image: url('../Images/clothe3.jpg');
    background-size: cover;
}

.sec3c1 {
    background-image: url('../Images/clothe2.jpg');
    background-size: cover;
}

.sec3 {
    color: #213555;
}
