/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #F0F0F0;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px 3px;
    padding: 20px;
    margin-top: 100px;
    height: 600px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 520px;
    overflow: hidden;
    z-index: 2;
    backdrop-filter: blur(2px);
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.btn:hover {
    background: #a5c6f2;
}

#registerBtn {
    margin-left: 15px;
}

.top span {
    color: #063b71;
    font-size: small;
    display: flex;
    justify-content: center;
}

    .top span a {
        font-weight: 500;
        color: #01296e;
        margin-left: 5px;
    }

header {
    text-align: center;
}
.photo-name-container {
    display: flex;
    margin-top:10px;
}


/*profile-card*/
.profile-photo-card {
    position: relative;
    margin-bottom: 1rem; /* Add margin for spacing between profile card and input forms */
    margin-right: 20px;
    background-color: transparent;
    border-radius: 10%;
    position: relative;
    padding: 2rem;
    border-radius: 8px;
    transition: all .25s ease-in-out;
}

    .profile-photo-card input {
        display: none;
    }

    .profile-photo-card main {
        position: relative;
    }

        .profile-photo-card main a svg {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .profile-photo-card main a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            background-image: linear-gradient(to right, rgb(79, 112, 156) 20%, #a5c6f2);
            border-radius: 50%;
            overflow: hidden;
        }

            .profile-photo-card main a:hover::after {
                opacity: 1;
            }

            .profile-photo-card main a::after {
                content: "Change";
                position: absolute;
                width: 100%;
                height: 35%;
                left: 0px;
                bottom: 0px;
                background-image: linear-gradient(transparent 0%, rgba(33, 53, 85, 0.584) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                color: #F0F0F0;
                opacity: 0;
                transition: all 0.2s ease-in-out 0s;
                padding-bottom: 1rem;
            }

    .profile-photo-card span {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: rgb(119, 255, 170);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid rgb(108, 35, 192);
        color: rgb(108, 35, 192);
    }

.tree-forms {
    
    gap: 10px;
    width: 100%;
}

.input-field {
    font-size: 15px;
    background: #A7B7CD;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

    .input-field:hover, .input-field:focus {
        background: #DBE2EB;
    }

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: azure;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #4F709C;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .submit:hover {
        background: #4F709C;
        box-shadow: 4px 5px 7px 5px rgba(0, 0, 0, 0.2);
    }

.two-col {
    display: flex;
    justify-content: space-between;
    color: #063b71;
    font-size: small;
    margin-top: 10px;
}

    .two-col .one {
        display: flex;
        gap: 5px;
    }

.two label a {
    text-decoration: none;
    color: #063b71;
}

    .two label a:hover {
        text-decoration: underline;
    }

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

        .nav-menu ul {
            flex-direction: column;
            text-align: center;
        }

    .nav-menu-btn {
        display: block;
    }

        .nav-menu-btn i {
            font-size: 25px;
            color: #fff;
            padding: 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;
        }

            .nav-menu-btn i:hover {
                background: rgba(255, 255, 255, 0.15);
            }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container, .login-container {
        width: 100%;
        padding: 0 20px;
    }

        .register-container .tree-forms {
            flex-direction: column;
            gap: 0;
        }
}
